/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// Importando as variáveis do Vuetify
@use 'vuetify/settings';

// Defina suas variáveis personalizadas
$input-height: 48px; // altura do input
$input-padding: 8px; // padding do input
$border-radius: 4px; // raio da borda
$v-btn-height: 48px; // altura do botão
